# Dependências
node_modules/

# Ambiente
.env

# Logs
logs/
npm-debug.log*
yarn-error.log*

# Arquivos temporários
*.tmp

# Cypress
cypress/videos/
cypress/screenshots/

# VS Code
.vscode/

cypress.env.json